@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-5">
    <div class="text-center">
        <h1 class="display-4">Добро пожаловать в нашу клинку станкина</h1>
        <p class="lead">Your health is our priority. Navigate through the sections below to get started.</p>
    </div>

    <div class="row mt-4">
        <div class="col-md-3">
            <div class="card">
                <img src="~/Images/1.jpg" class="card-img-top" alt="Patient Registration">
                <div class="card-body">
                    <h5 class="card-title">Регистрация пациентов</h5>
                    <p class="card-text">Создайте новый аккаунт пациента, чтобы управлять вашими медицинскими записями.</p>
                    <a href="Patients" class="btn btn-primary">Регистрация</a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card">
                <img src="~/Images/2.jpg" class="card-img-top" alt="Doctors">
                <div class="card-body">
                    <h5 class="card-title">Список докторов</h5>
                    <p class="card-text">Просмотрите список наших квалифицированных докторов и выберите подходящего специалиста.</p>
                    <a href="Doctors" class="btn btn-primary">Просмотреть докторов</a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card">
                <img src="~/Images/3.jpg" class="card-img-top" alt="Appointments">
                <div class="card-body">
                    <h5 class="card-title">Записи на прием</h5>
                    <p class="card-text">Запишитесь на прием к врачу онлайн и получите своевременную медицинскую помощь.</p>
                    <a href="Appointments" class="btn btn-primary">Записаться на прием</a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card">
                <img src="~/Images/4.jpg" class="card-img-top" alt="Cabinets">
                <div class="card-body">
                    <h5 class="card-title">Кабинеты Докторов</h5>
                    <p class="card-text">Узнайте в каком кабинете работает доктор.</p>
                    <a href="Cabinets" class="btn btn-primary">Информация</a>
                </div>
            </div>
        </div>
    </div>
</div>