@model IEnumerable<Clinic.Models.Patient>

@{
    ViewData["Title"] = "Список пациентов";
}

<h1>Список пациентов</h1>

<div class="text-right mb-3">
    <a class="btn btn-primary" asp-action="Create">Зарегистрироваться как пациент</a>
</div>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Имя</th>
                <th>Email</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.Email)</td>
                    <td>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Удалить профиль</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>