@model IEnumerable<Clinic.Models.Cabinet>

@{
    ViewData["Title"] = "Список кабинетов";
}

<h1>Список кабинетов</h1>

<div class="text-right mb-3">
    <a class="btn btn-primary" asp-action="Create">Оборудовать новый кабинет</a>
</div>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Кабинеты</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                    <td>
                        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Изменить кабинет</a> |
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Удалить кабинет</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>